@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html, body{
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.6);
}


.top-bar {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.75);
  padding: 15px 50px;
  color: white;
  display: inline-block;
  top: 0;
  width: 95%;
  background-color: #00BCD4;
}

#root > div {
  display: block;
}

.top-bar > h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.top-bar > .links {
  display: inline-block;
  float: right;
}

.top-bar > .links a {
  display: block;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 15%;
}

.panel {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  width: 90%;
  display: inline-block;
  margin: 1% 5%;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  text-align: center;
}

.panel .panel-head {
  display: inline-block;
  width: 100%;
  background-color: #E8E8E8;
  padding: 20px 50px;
  color: #919191;
  font-size: 1.3em;
  text-align: left;
}

.panel .panel-body {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: 90%;
}
.panel .panel-body > div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  text-transform: capitalize;
  color: #919191;
}

.login-btn {
  border: none;
  background-color: rgb(255, 64, 129);
  padding: 5px 20px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.4);
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

form.new-thing {
  display: inline-block;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  width: 80%;
  padding: 0;
  margin-bottom: 1%;
}

form.new-thing input, form.new-thing button{
  border: none;
  padding: 10px 25px;
  font-size: 1.3em;
  font-family: 'Roboto Condensed', sans-serif;
  width: 86%;
  float: left;
}

form.new-thing button {
  background-color: rgb(0, 188, 212);
  color: white;
  cursor: pointer;
  width: 9.9%;
  float: right;
  border-bottom: 1px solid rgb(0, 188, 212);
}

form.new-thing button:hover {
  background-color: #66D7E6;
}

form.new-thing input:focus {
  border: 0;
  outline: none;
}

form.new-thing input.invalid {
  border-bottom: solid 1px rgb(255, 64, 129);
}

.full-block {
  display: inline-block;
  width: 100%;
}

.drop-area {
  width: 90%;
  height: 70px;
  border: 1px dashed grey;
  border-radius: 4px;
  padding: 2%;
  text-align: center;
  cursor: pointer;
}

.upload-item {
  display: block;
  width: auto;
  height: auto;
  margin: 2%;
  padding: 2%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  border-radius: 4px;
}

.upload-item label {
  display: block;
  width: 100%;
  margin-bottom: 1%;
  font-weight: bold;
}

.remove {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 2%;
  -webkit-box-shadow: 0.5px 0.5px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0.5px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0.5px 0.5px 2px 0px rgba(0,0,0,0.75);
  border-radius: 100%;
  cursor: pointer;
}

.remove img {
  max-width: 100%;
}

.uploaded {
  display: block;
  width: 100%;
  position: relative;
}
