.body {
  margin: 10px auto;
  .intro {
    text-align: center;
  }
  img {
    text-align: center;
    border-radius: 15px;
    margin: 15px 0;
    max-width: 100%;
  }
  .button {
    float: right;
    margin: 20px;
  }
}
